<!-- View: PreviewPDF.cshtml -->

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Vista previa del PDF</title>
</head>
<body>
    <div style="width: 100%; height: 100vh;">
        <iframe src="@Url.Action("GenerarPDF", new { id = ViewBag.Id  })" style="width: 100%; height: 100%; border: none;"></iframe>
    </div>
</body>
</html>

